<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->

	<head>
		<meta charset="utf-8">
		<title>TCOE | TDM Services</title>

			<!-- breadcrumb start -->
			<!-- ================ -->
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="home#index">Home</a></li>
						<li class="active">TDM Services</li>
					</ol>
				</div>
			</div>
			<!-- breadcrumb end -->

			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container padding-bottom-clear">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">
							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title text-center">TDM <strong>Services</strong></h1>
							<div class="separator"></div>
							<!-- page-title end -->

							
 <!--<div class="row">-->
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="embed-container">
                            <%= embed("https://youtu.be/GTnWMQvRJBE?list=PLO7SodxCJyn6pkhF5r_sT7VUo0yztNfLJ") %>
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Data Identification & Gneration</h4>
                        <p class="text-muted">Identification of data is the first step in Test Data Management. We want to ensure you receive the right data in the right way.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="embed-container">
                            <%= embed("https://youtu.be/GTnWMQvRJBE?list=PLO7SodxCJyn6pkhF5r_sT7VUo0yztNfLJ") %>
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Glassboard vs. Whiteboard</h4>
                        <p class="text-muted">Design and Functionality</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="embed-container">
                            <%= embed("https://youtu.be/mIzuxW4JBhY") %>
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Clarus Glassboards Wins</h4>
                        <p class="text-muted">Interior Design Magazine's Best of Year Award</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                    </a>
                    <%= image_tag "portfolio/flipbanner_2.png", class: "img-responsive", alt: "" %>
                    <div class="portfolio-caption">
                        <h4>The FLIP</h4>
                        <p class="text-muted">Elegance that Transforms
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag "portfolio/escape.png", class: "img-responsive", alt: "" %>
                    </a>
                    <div class="row">
								<div class="col-sm-4">
									<div class="image-box style-2 mb-20">
										<div class="overlay-container overlay-visible">
											<img src="<%= image_url('data-acquisition.jpg') %>" width="240" height="240" alt="data-acquisition">
											<a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
											<div class="overlay-bottom hidden-xs">
												<div class="text">
													<p class="lead margin-clear text-left"><a class="link-dark" href="acquisition#index.html.erb"><h3>Data Acquisition</h3></a></p>
												</div>
											</div>
										</div>
										<div class="body padding-horizontal-clear">
											<p>Once the data need is defined, the data must be produced from one of several methods.  Manual entry, Automated entry, Automated Preparation, Retrive and Scrub from Production.</p>
											<a class="link-dark" href="acquisition#index.html.erb">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="image-box style-2 mb-20">
										<div class="overlay-container overlay-visible">
											<img src="<%= image_url('data-provisioning.jpg') %>" width="240" height="240" alt="data-provisioning">
											<a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
											<div class="overlay-bottom hidden-xs">
												<div class="text">
													<p class="lead margin-clear text-left"><h3>Data Provisioning</h3></p>
												</div>
											</div>
										</div>
										<div class="body padding-horizontal-clear">
											<p>Data Strategy and Planning, Data Preparation, Data Distribution, Data Availabililty</p>
											<a class="link-dark" href=>"#">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
						<div class="row">
								<div class="col-sm-4">
									<div class="image-box style-2 mb-20">
										<div class="overlay-container overlay-visible">
											<img src="<%= image_url('data-maintenance2.jpg') %>" width="240" height="240" alt="data-maintenance2">
											<a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
											<div class="overlay-bottom hidden-xs">
												<div class="text">
													<p class="lead margin-clear text-left"><h3>Data Maintenance</h3></p>
												</div>
											</div>
										</div>
										<div class="body padding-horizontal-clear">
											<p>Data Storage, Data Migration, Data Mapping, Data Relevance</p>
											<a class="link-dark" href="">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="image-box style-2 mb-20">
										<div class="overlay-container overlay-visible">
											<img src="<%= image_url('data-refresh.jpg') %>" width="240" height="240" alt="data-refresh">
											<a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
											<div class="overlay-bottom hidden-xs">
												<div class="text">
													<p class="lead margin-clear text-left"><h3>Data Refresh</h3></p>
												</div>
											</div>
										</div>
										<div class="body padding-horizontal-clear">
											<p>Data Refreshments!</p>
											<a class="link-dark" href="">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="image-box style-2 mb-20">
										<div class="overlay-container overlay-visible">
											<img src="<%= image_url('data-governance.jpg') %>" width="280" height="240" alt="data-governance">
											<a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
											<div class="overlay-bottom hidden-xs">
												<div class="text">
													<p class="lead margin-clear text-left"><h3>Data Governance</h3></p>
												</div>
											</div>
										</div>
										<div class="body padding-horizontal-clear">
											<p>Rules, Standards, Processs, Documntation</p>
											<a class="link-dark" href="">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
						<!-- main end -->

					</div>
				</div>
			</section>
			<!-- main-container end -->
