<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->

	<head>
		<meta charset="utf-8">
		<title>About TDM</title>

			<!-- breadcrumb start -->
			<!-- ================ -->
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
						<li class="active">TDM Services</li>
					</ol>
				</div>
			</div>
			<!-- breadcrumb end -->

			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container padding-bottom-clear">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">
							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title text-center">About<strong><a href="about#index"></a> TDM</strong></h1>
							<div class="separator"></div>
							<br>
							<!-- page-title end -->


<div class="body padding-horizontal-clear">
  <p><h3>Benefits of using TDM</p></h3>
        <ul>
          <li>Speed to Market<br>
          <li>Streamlined Implementation<br>
          <li>Reduced Cost<br>
          <li>Improve Product Quality<br>
          <li>Future Re-Use<br>
          <li>Increased Relevance<br>
          <li>Being Compliant<br>
          <li>Delight the Consumer
        </ul>
  <a class="link-dark" href="news#index">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="image-box style-2 mb-20">
      <div class="overlay-container overlay-visible">
        <img src="<%= image_url('service-1.jpg') %>" width="60" height="38" alt="svc1">
        <a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
        <div class="overlay-bottom hidden-xs">
          <div class="text">
            <p class="lead margin-clear text-left"><h3>How we came to be...</h3></p>
             <ul>
                 <li><br>
                 <li><br>
                 <li><br>
                 <li><br>
                 <li><br>
             </ul>
             <a class="link-dark" href="news#index">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="image-box style-2 mb-20">
      <div class="overlay-container overlay-visible">
        <img src="<%= image_url('service-2.jpg') %>" width="60" height="38" alt="svc2">
        <a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
        <div class="overlay-bottom hidden-xs">
          <div class="text">
            <p class="lead margin-clear text-left"><h3>TCOE : TDM Today</h3></p>
          </div>
        </div>
      </div>
      <div class="body padding-horizontal-clear">
        <p>Branding and Growing</p>
        <a class="link-dark" href="news#index">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="image-box style-2 mb-20">
      <div class="overlay-container overlay-visible">
        <img src="<%= image_url('service-3.jpg') %>" width="60" height="38" alt="svc3">
        <a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
        <div class="overlay-bottom hidden-xs">
          <div class="text">
            <p class="lead margin-clear text-left"><h3>COE : Vision</h3></p>
          </div>
        </div>
      </div>
      <div class="body padding-horizontal-clear">
        <p>Future vision ipsjmadvalerkam</p>
        <a class="link-dark" href="news#index">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="row">
<div class="row">
  <div class="col-sm-4">
    <div class="image-box style-2 mb-20">
      <div class="overlay-container overlay-visible">
        <img src="<%= image_url('service-4.jpg') %>" width="60" height="38" alt="svc4">
        <a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
        <div class="overlay-bottom hidden-xs">
          <div class="text">
            <p class="lead margin-clear text-left"><h3>Partners</h3></p>
          </div>
        </div>
      </div>
      <div class="body padding-horizontal-clear">
        <p>Our partners in a World Class COE</p>
        <a class="link-dark" href="news#index">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="image-box style-2 mb-20">
      <div class="overlay-container overlay-visible">
        <img src="<%= image_url('service-5.jpg') %>" width="60" height="38" alt="svc5">
        <a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
        <div class="overlay-bottom hidden-xs">
          <div class="text">
            <p class="lead margin-clear text-left"><h3>Our Environment</h3></p>
          </div>
        </div>
      </div>
      <div class="body padding-horizontal-clear">
        <p>What makes us tick</p>
      <a class="link-dark" href="news#index">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="image-box style-2 mb-20">
      <div class="overlay-container overlay-visible">
        <img src="<%= image_url('service-6.jpg') %>" width="60" height="38" alt="svc6">
        <a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
        <div class="overlay-bottom hidden-xs">
          <div class="text">
            <p class="lead margin-clear text-left"><h3>Just Tell Us "It Can't Be Done.."</h3></p>
          </div>
        </div>
      </div>
      <div class="body padding-horizontal-clear">
        <p>Overcoming Obstacles</p>
        <a class="link-dark" href="news#index">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!-- main end -->

</div>
</div>
</section>
<!-- main-container end -->
